html {
	height: 100%;
	box-sizing: border-box;
}

body {
	font-family: 'Germania One', cursive;
	background-image: url("../images/wall.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
	max-width: 70%;
	margin: 0 auto;
	background-color: Navy;
}

/* header */

header h1 {
	margin: 30px auto;
	text-align: center;
	font-size: 100px;
}

header {
	margin-bottom: 40px;
}

/* main body */

.instructions, .gamearea, .message {
	margin: 0 auto 40px;
	text-align: center;
	padding: 10px 30px;	
}

.midarea {
	margin: 0 auto 40px;
	text-align: center;
	width: 80%;
	height: 300px;

}

/*.instructions, .gamearea, .message, #hangmanimage, #guessed, #guessremain, .midarea {
	border: solid 2px black;
}*/

.instructions {
	width: 80%;
	font-size: 16px;
}

.gamearea, .message {
	width: 60%;
}

#hangmanimage {
	width: 45%;
	margin-right: 2.5%;
	margin-left: 2.5%;	
	height: 100%;
	position: relative;
}

#imageholder {
	border: solid 2px black;
	width: 75px;
}

#guessed {
	width: 90%;
	margin: 0 auto;	
	height: 150px;
	font-size: 25px;
	background-color: Cornsilk;
}

#guesstitle, #wins, #losses, #wordspaces {
	margin: 0 auto;
	font-size: 30px;
	text-align: center;
	padding: 5px;
}

#guessremain {
	margin: 10px auto;
	font-size: 16px;
}

#wordspaces, .message {
	background-color: Cornsilk;
}

h1, .instructions, #guesstitle, #guessremain {
	color: #ffffff;
}





