html {
	height: 100%;
	box-sizing: border-box;
}

body {
	font-family: 'Germania One', cursive;
	background-image: url("../images/wall.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
	max-width: 70%;
	margin: 0 auto;
	background-color: lightBlue;
}

/* header */

header h1 {
	margin: 30px auto;
	text-align: center;
	font-size: 50px;
}

header {
	margin-bottom: 40px;
}

/* main body */

.instructions, .gamearea, .message {
	margin: 0 auto 40px;
	text-align: center;
	padding: 10px 30px;	

}

.midarea {
	margin: 0 auto 40px;
	text-align: center;
	width: 90%;
	height: 300px;

}

.instructions, .gamearea, .message, #hangmanimage, #guessed, #guessremain, .midarea {
	border: solid 2px black;
}

.instructions {
	width: 80%;
}

.gamearea, .message {
	width: 60%;
}

#hangmanimage {
	width: 50%;
	margin-right: 2.5%;
	margin-left: 2.5%;	
	height: 100%;
	position: relative;
}

#guessed {
	width: 40%;
	margin-right: 2.5%;
	margin-left: 2.5%;	
	height: 100%;
}

#guessremain {
	position: absolute;
}

